@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido al Sitio con .NET</h1>
    <p>Aprende sobre computción en la nube desde <a href="https://cinicaragua.edu.ni/academia/">CI Nicaragua</a>.</p>
</div>
